html {
    font-family: 'Nanum Brush Script', cursive;
    background-color: rgb(46, 195, 23)
  }
  h1 {
    font-size: 150px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: rgb(26, 90, 208);
    text-shadow: 5px 5px 5px black;
  }
  h2 {
    font-size: 80px;
    text-align: center;
  }
  h3 {
    font-size: 50px;
    text-align: left;
  }
  p,
  li {
    font-size: 40px;
    line-height: 1;
    letter-spacing: 1px;
  }
  body {
    width: 1500px;
    background-color: #ff0000;
    margin: 0 auto;
    border: 6px solid black;
    padding: 0 20px 20px 20px;
  }
  img{
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .youtube{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 500px;
  }